
/* Estilos banner video */

#banner-video {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

#banner-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
}

.content {
  text-shadow:rgba(255, 191, 14, 0.664) 0 -2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
  text-align: center;
  border-radius: 50px;
}
/* /////////// */

 /* Estilos carrrusel */

 main {
  position: relative;
  overflow: hidden;
  height: 100vh;
 }
 .carousel {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}
.carousel .content {
  text-shadow:rgba(255, 191, 14, 0.664) 0 -2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.carousel-inner {
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  display: none;
}

.carousel-item.active {
  display: block;
}

.carousel-item img {
  min-width: 100%;
  height: auto;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}

.carousel-control.prev {
  position: absolute;
  left: 20px;
}

.carousel-control.next {
  right:20px;
}

.input-group-append {
  cursor: pointer;
}

/* formulario */

.full-height {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  
}

.boleta{
  background-image: url('/assets/bg-form.jpg');
  background-size: cover;
  background-position: center;
}

/* snap */
.snap-container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory; /* Scroll snap vertical y obligatorio */
  height: 100vh; /* Altura completa de la ventana */
}

.snap-item {
  scroll-snap-align: start; /* Alínea los elementos al inicio del contenedor */
  height: 100vh; /* Altura completa de la ventana */
}
